.img-container {
    text-align: center;
}


.circular--square {
border-radius: 50%;
}


body{
  background: #D4B9B3;

}

/* (.card) Estilo para la informacion principal del CV e informacion adicional*/

.card{
  width: 1000px;
  height: 400px;
  margin: 20px 145px;
  padding: -80px 10;
  text-align: center;
  transition: .5s;
  -webkit-border-radius: 121px 91px 101px 121px;
  border-radius: 121px 91px 101px 121px;
  font-family: "Courier New", Courier, monospace;
  font-size: 29px;
  letter-spacing: 0.6px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 900;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

/* (.estC) Estilo único para "Otra informacion" y "Contactarme"  */

.estO{
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  letter-spacing: 1px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  }

/* (.est) Estilo para informacion especial */

.estI{
font-family: "Courier New", Courier, monospace;
font-size: 20px;
letter-spacing: 1px;
word-spacing: -5px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}

/*(.box) Caja armada para los enlaces relativos (Caja mas grande)*/

.box{
  width:210px;
  height:120px;
  border:dotted 6px #efe825;
}

/* (.boxC) Caja armada para los enlaces relativos de menor espacio (Caja mas chica)*/

.boxC{
  width:210px;
  height:100px;
  border:dotted 6px #efe825;
}

/*(.sangr) Sangría para acomodar parte de texto */

.sangr{padding-left:125px

}

/* (.esp2) Estilo para dejar un espacio correspondiente para cada seccion 
y no se mezclen al hacer click en cada "Enlace relativo" */

.esp2{
  height: 650px;
}

/* (.esp3) Estilo para dejar un espacio correspondiente para los "Enlaces relativos" */

.esp3{
  height: 200px;

}

/* (.esp4) Espacio especial de mayor tamaño esta vez para la informacion*/

.esp4{
  height: 300px;

}

/*(.espF) Espacio para la parte final de la hoja*/

.espF
{
  height: 550px;
}


