.img-container {
    text-align: center;
}

.circular--square {
border-radius: 40%;
}



body{
  background: #C9AFAA;
  background: -moz-linear-gradient(left, #C9AFAA 0%, #D4B9B3 67%, #AD9790 100%);
  background: -webkit-linear-gradient(left, #C9AFAA 0%, #D4B9B3 67%, #AD9790 100%);
  background: linear-gradient(to right, #C9AFAA 0%, #D4B9B3 67%, #AD9790 100%);
}

.estrom{
font-family: "Times New Roman", Times, serif;
font-size: 22px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: normal;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;

}




/* Estilo de cuadro para información principal*/

.cuadro{
  outline: 5px double rgba(1,3,4,0.65);
  outline-offset: 5px;
}

/* Estilo de cuadro para la información central*/

.cuadroC{
outline: 4px dashed rgba(1,3,4,0.36);
outline-offset: 2px;
margin-right: 600px;
margin-bottom: 230px;
display: flex;
margin-left: 150px;
}

/* Estilo de cuadro variado para la informacion central*/
.cuadroC2{
outline: 4px dashed rgba(1,3,4,0.36);
outline-offset: 2px;
margin-right: 450px;
margin-bottom: 65px;
margin-left: 150px;
display: flex;
}

/* Estilo de cuadro variado para la informacion central*/

.cuadroC3{
  outline: 4px dashed rgba(1,3,4,0.36);
  outline-offset: 2px;
  margin-right: 235px;
  margin-bottom: 145px;
  margin-left: 150px;
  display: flex;
}

/* Estilo de cuadro variado para la informacion final*/

.cuadroC4{
  outline: 4px dashed rgba(1,3,4,0.36);
  outline-offset: 2px;
  margin-right: 720px;
  margin-bottom: 20px;
  margin-left: 150px;
  display: flex;
}

/* (.card) Estilo para la informacion principal del CV e informacion adicional*/

.card{
  width: 1000px;
  height: 400px;
  margin: 20px 145px;
  padding: -80px 10;
  text-align: center;
  transition: .5s;
  -webkit-border-radius: 121px 91px 101px 121px;
  border-radius: 121px 91px 101px 121px;
  font-family: "Courier New", Courier, monospace;
  font-size: 29px;
  letter-spacing: 0.6px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 900;
  text-decoration: underline solid rgb(68, 68, 68);
  font-style: italic;
  font-variant: small-caps;
  text-align: center;
}

/* (.estC) Estilo único para "Otra informacion" y "Contactarme"  */

.estO{
  font-family: "Courier New", Courier, monospace;
  font-size: 26px;
  letter-spacing: 1px;
  word-spacing: -5px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  }

/* (.est) Estilo para informacion especial */

.estI{
font-family: "Courier New", Courier, monospace;
font-size: 20px;
letter-spacing: 1px;
word-spacing: -5px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: italic;
font-variant: normal;
text-transform: none;
}

/*(.box) Caja armada para los enlaces relativos (Caja mas grande)*/

.box{
  width:210px;
  height:120px;
  border: 4px double #1C6EA4;
  
}

/* (.boxC) Caja armada para los enlaces relativos de menor espacio (Caja mas chica)*/

.boxC{
  width:210px;
  height:100px;
  border: 4px double #1C6EA4;
}

/*(.sangr) Sangría para acomodar parte de texto */

.sangr{padding-left:125px

}
/* (.esp3) Estilo para dejar un espacio correspondiente para los "Enlaces relativos" */

.esp3{
  height: 200px;

}

/* (.esp4) Espacio especial de mayor tamaño esta vez para la informacion*/

.esp4{
  height: 300px;

}

/*(.espF) Espacio para la parte final de la hoja*/

.espF
{
  height: 550px;
}

/* (.ocul) Estilo para mantener oculta la informacion en los botones "Mostrar/Ocultar informacion)*/

.ocul{
  display: none;
}